body {
    /* background-image: url(back5.jpg);
    background-size: cover;
    backdrop-filter: blur(10px); 
    margin: 0; */
    background: #081b29;
    margin: 0;
    
}
button {
    border: none;
}
.navbar_3 ul {
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.navbar_2 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: white;
    padding: 20px;
}
.navbar_1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar_4 {
    display: flex;
    gap: 2rem;
}
.navIcon {
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    border-left: 30px;
    border-right: 30px;
    
}
.navIcon_1 {
    background-color: #00abf0;
    
    margin: auto;
    width: 30%;
    border-radius: 100px;
    height: 50px;
    padding-top: 16px;
    
    
}
.navIcon_1 a {
    margin: 10px;
    /* background-color: brown; */
    cursor: pointer;
    text-decoration: none;
    color: white;
}

ul a {
    text-decoration: none;
    color: white;
}

.navbar_4 li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.navbar_4 li:hover {
    /* font-size: 24px; */
    color: #00abf0;
}

 .navli:hover {
    border-bottom: 1px #00abf0 solid;
    
    
 }   
    

.home_1 {
    display: flex;
    gap: 3rem;
    align-items: center;
    
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 80px;
    
}
.home_1 p {
    opacity: 60%;
}
.home_name {
    color: aqua;
}
.home_2 {
    width: 50%;
    text-align: left;
    
}


.typed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.typed_h1{
    font-size: 30px;
}
.home_typed {
    color: #00abf0;
}

.home_2 h1 {
    font-size: 50px;
    
}
.home_3 {
    margin: 10px;
    
}
.home_3 button {
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.buttontalk {
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    
}
.home_3 button:hover {
    background: transparent;
    font-size: 18px;
    color: white;
}
.home_4 {
    width: 450px;
    box-shadow: 0px 0px 10px 10px #00abf0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home_4 img {
  position: absolute;

  right: -22px;
  bottom: 0;
  margin-left: 60px;
   border-radius: 50%;
   width: 350px;
 
 
 

 
 
 animation: zoomIn 1s ease forwards, floatImage 4s
 ease-in-out infinite ;
 animation-delay: 2s, 3s;
 
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
    
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(0);
    }
}

    


  .home_4  {
    
    height: 450px;
    width: 350px;
}  
.about_0 {
    text-align: center;
    color: #00abf0;
    margin: 200px;
}
.about_0 h1 {
    color: #00abf0;
}
.about_0 h3 {
    font-size: 15px;
    opacity: 60%;
    color: white;
}
.about_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    /* width: 80%; */
    gap: 5rem;
}
.about_2 {
    background: #0c5471;
    height: 300px;
    width: 400px;
    border-radius: 20px;
}

.about_2 img {
    border-radius: 20px;
    
    border: 2px solid #00abf0;
    height: 300px;
    width: 250px;
    overflow: hidden;
    transform: rotate(10deg);
    transition-duration: 500ms;
    
}
.about_2 img:hover {
    transform: rotate(0);
    
    
}
.about_3 {
    padding-left: 150px;
    color: white;
    opacity: 80%;
    text-align: center;
    align-items: center;
}
.about_4 {
    display: flex;
    gap: 3rem;
    
    
}
.about_5 {
    padding-top: 5px;
    background: #0c5471;
    width: 120px;
    height: 120px;
    padding: 20px;
    color: white;
    border-radius: 20px;
    
}

.about_5 h3{
    font-size: 15px;
    opacity: 60%;
    color: white;
}
.about_5 p {
    font-size: 13px;
}
.about_icon {
    margin-top: 12px;
    
}
.about_5:hover{
    border: 2px solid #00abf0;
    background: transparent;
    
}

.button {
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background: #00abf0;
}
.button:hover {
    border: 2px solid #00abf0;
    background: transparent;
    font-size: 18px;
    color: white;
}

              
    /* EXPERIENCE */

  .Ex_1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }  
  .Ex_1 h3 {
    font-size: 15px;
    opacity: 60%;
    color: white;
  }
  .Ex_1 h1 {
    color: #00abf0;
  }
  .Ex_0 {
    color: #00abf0;
    font-size: 27px;
  } 

  .Ex_2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: auto;
    font-size: 14px;
    justify-content: center;
    padding-top: 40px;
}
.Ex_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

  .Ex_3 {
    width: 600px;
    height: 400px;
    background: #0c5471;
    opacity: 60%;
    color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    transition: 1s;
  }
  .Ex_3:hover {
    background: transparent;
    border: 2px solid #00abf0;
    color: white;
}


        /* SERVICES */
.service_1 {
    padding-top: 100px;
    text-align: center;
    color: white;
}
.service_1 h3 {
    color: white;
} 
.service_1 h2 {
    color: #00abf0;
}       

.service_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 150px;
    gap: 2rem;
    padding-top: 50px;
}
.service_3 {
    background: #0c5471;
    color: white;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 100px;
    height: 300px;
    transition: 1s;
}
.service_3:hover {
   background: transparent;
   border: 2px solid #00abf0;
}
.service_3 p {
    padding-left: 20px;
    text-align: left;
}
.service_3 h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00abf0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 0;
}
.slideh3 {
    opacity: 50%;
}
     
       /* PORTFOLIO */

       .port_1 {
        text-align: center;
        color: white;
       }
       .port_1 h3 {
       font-size: 15px;
       
       color: white;
       }

       .port_1 h1 {
        font-size: 40px;
        color: #00abf0;
       }

       .port_2 {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        padding: 200px;
        color: white;
        padding-top: 30px;
       }
      
       .port_3 {
        background-color: #0c5471;
        opacity: 70%;
        margin: 20px;
        border-radius: 20px;
        padding-bottom: 20px;
        
        
        
        
       }
       .port_3 img {
        overflow: hidden;
        width: 300px;
        height: 180px;
        border-radius: 20px;
        justify-content: center;
        margin: 0;
        align-items: center;
       }
       .port_4 {
        

       }

       .port_4 button {
        width: 100px;
        height: 40px;
        font-size: 15px;
        margin-right: 10px;
        align-items: center;
        border-radius: 10px;
        border: 2px solid #00abf0;
        cursor: pointer;

       }
       .livedemo {
        background-color: #00abf0;
       }

                
                   /* TESTIMONIALS */
       .testy_1 {
        text-align: center;
        color: white;
       }  
       .testy_1 h3 {
        opacity: 60%;
        color: white;
       } 
       .testy_1 h1 {
        color: #00abf0;
       }         

       .testy_2 {
        margin-top: 200px;
        width: 40%;
        margin: auto;
        text-align: center;
        padding-bottom: 6rem;
       }
       .testy_4 {
        
        background-color: #00abf0;
        opacity: 70% ;
        color: white;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
       }
       .testy_4 img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #0c5471;
       }
        
          /* CONTACT */
          .contact_1 {
            color: white;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 100px;
          }

          .contact_1 h1{
            padding-bottom: 40px;
            color: #00abf0;
          }
          .contact_1 h3 {
            opacity: 70%;
            color: white;
          }

          .contact_2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: white;
            width: 80%;
            margin: auto;
          }
         .contact_4 {
            margin-bottom: 10px;
         }
          .contact_4 {
            background-color: #0c5471;
            width: 200px;
            height: 200px;
            text-align: center;
            border-radius: 20px;
            
          }
          .contact_4:hover {
            background: transparent;
            border: 2px solid #00abf0;
          }
           .contact_4 a {
            color: #00abf0;
            text-decoration: none;
          } 
          .contact_icon {
            font-size: 30px;
            padding-top: 10px;
          }
           
          form {
            display: grid;
            grid-template-columns: 1fr;
          }
          
          form input {
            margin-top: 20px;
            padding-top: 10px;
            height: 30px;
            border-radius: 20px;
            background-color: black;
            opacity: 60%;
            font-size: 17px;
            border: 3px solid #00abf0;
            padding-left: 20px;
            color: white;
          }
        
            
          
          form textarea {
            background: #081b29;
            border: 3px solid #00abf0;
            padding-left: 20px;
            opacity: 60%;
            margin-top: 20px;
            height: 350px;
            border-radius: 20px;
            font-size: 17px;
            color: white;
          }
          form button {
            width: 170px;
            height: 50px;
            background: #00abf0;
            border-radius: 15px;
            margin-top: 10px;
            font-size: 18px;
            cursor: pointer;
          }
          
              /* BRIGHT */

              .bright_1 {
                align-items: center;
                text-align: center;
                
                background-color: #00abf0;
                opacity: 60%;
                padding-bottom: 250px;
              }
              .bright_1 h1 {
                padding-top: 20px;
                font-size: 20px;
              }
              .bright_2 {
                text-align: center;
                align-items: center;
                justify-content: center;

              }
              .bright_3 {
                display: flex;
                gap: 4rem;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-size: 23px;
              }
              .bright_3 a {
                text-decoration: none;
                color: black;
              }
              .bright_i {
                background-color: #0c5471;
                width: 70px;
                height: 70px;
                border-radius: 10px;
                
              }
              .bright_i:hover {
                background: transparent;
                border: 2px solid #081b29;
              }
              
              .bright_i a {
                text-decoration: none;
                color: white;
              }
               .bright_icons {
                display: flex;
                justify-content: center;
                gap: 3rem;
                margin-top: 70px;
                margin-bottom: 90px;
               }

               
               .bright_ic {
                border-radius: 20px;
                cursor: pointer;
                margin-top: 23px;
                font-size: 20px;
                
               }
               


@media  (max-width: 1028px) {
    li {
        display: none;
    }
    
    
    
   .home_1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    
   } 
   .home_2 {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
   }
   .typed_h1 {
    
    font-size: 55px;
    align-items: baseline;
   }
   .home_4 {
    height: 600px;
    width: 400px;
    margin-top: 100px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
   }
    .home_4 img {
     height: 700px; 
     width: 100%;
    

} 
.home_3 button {
    width: 250px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    font-size: 35px;


}
.home_3 button:hover {
    background-color: #0c5471;
    border: 2px solid #00abf0;
    font-size: 18px;
}
.home_2 h1 {
    font-size: 80px;
}
.home_2 h3 {
    font-size: 50px;
}
.home_2 p {
    font-size: 40px;
}

.about_0 h2{
 font-size: 64px;
}
.about_0 h4 {
    font-size: 35px;
}
.about_1 {
    display: flex;
    flex-direction: column;
    
}
.about_2 {
    width: 250px;
}
/* .about_2 img {
    width: 300px;
    height: 200px;
} */
.about_3 {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 120px;
}
   .about_4 {
    display: flex;
    /* margin-right: 70px; */
    
   }
   .about_5 {
    width: 200px;
    height: 200px;
    align-items: center;
    text-align: center;

    }
    .about_icon {
        font-size: 35px;
    }
    .about_5 h3 {
    font-size: 30px;
    }
    .about_5 p {
     font-size: 26px;
     
    }
    .button {
        width: 250px;
        height: 100px;
        margin: 10px;
        border-radius: 10px;
        font-size: 40px;
    }
    .about_p {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 30px;
    }
    
    .navIcon_1 {
        width: 90%;
        height: 150px;
        font-size: 60px;
        padding-top: 70px;

     }
     .navIcon_1 a {
      margin: 30px;

     }
    .Ex_0 {
        font-size: 50px;
        color: #00abf0;
    }
    .Ex_1 h1 {
        font-size: 60px;
    }
    .Ex_1 h3 {
        font-size: 40px;
    }
    .Ex_2  {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .Ex_3 {
        width: 800px;
        height: 700px;
        padding-bottom: 90px;
        font-size: 25px;
    }
    .Ex_4 p {
        font-size: 35px;
    }
   
   .service_2 {
    grid-template-columns: 1fr;
    
   }  
  .service_3 {
    height: 600px;
    font-size: 30px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 60px;
    text-align: left;
  }
  .service_3 p {
    font-size: 40px;
  }
   .service_1 h1 {
    font-size: 60px;
   }     
   .service_1 h3 {
    font-size: 15px;
   }
.port_2 {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
.port_3 {
    width: 800px;
    height: 800px;
    align-items: center;
    font-size: 40px;
}
.port_3 img {
    width: 800px;
    height: 500px;
}
.port_4 button {
  width: 200px;
  height: 100px;
  font-size: 36px;
}

.port_1 h1 {
 font-size: 60px;
}
.port_1 h3 {
 font-size: 15px;
}

.testy_1 h1 {
    padding-bottom: 100px;
}
.testy_1 h3 {
    font-size: 15px;
    opacity: 70%;
}

.testy_2 {
    width: 90%;
    font-size: 35px;
    
}
.testy_2 img {
    width: 150px;
    height: 150px;
}
.swipe {
    font-size: 50px;
   }
.contact_1 h3 {
    font-size: 15px;
}
.contact_1 h2 {
    font-size: 50px;
}
.contact_2 {
    grid-template-columns: 1fr;
}
.contact_icon {
    font-size: 70px;
}
.contact_4 {
    width: 100%;
    font-size: 50px;
    padding-bottom: 300px;
    padding-right: px;
    margin-top: 60px;
    
}
form input {
    height: 120px;
    font-size: 50px;
}
form textarea {
    font-size: 50px;
    height: 700px;
}
.contact_1 button {
 width: 250px;
 height: 100px;
 font-size: 35px;
}
.bright_1 h1 {
    font-size: 80px;
}
 .bright_3 {
    flex-direction: column;
    font-size: 60px;
    gap: 0.5rem;
 }
 .bright_i {
    width: 130px;
    height: 130px;
}
.bright_ic {
    width: 80px;
    height: 80px;
}
}

